@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* loading spinner */
.loader-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

main {
    background-color: #e4f1fe;
}

.shop-title {
    font-family: "Open Sans", sans-serif;
    color: #22313f;
}

.items-container {
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

@media (min-width: 768px) {
    .items-container {
        padding: 8px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 8px;
    }
}

@media (min-width: 1024px) {
    .items-container {
        padding: 16px;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
    }
}

@media (min-width: 1920px) {
    .items-container {
        gap: 24px;
    }
}
